/******************************************************************** 
 * Written by Steven C. Dang 
 * Copyright 2015 
 * stevencdang.com
 ********************************************************************/



.prompt {
  margin: 20px;
}

.data {
  background: #ddd;
  color: #000;
  padding: 50px 30px;
  margin: 15px;
  border-radius: 15px;
}

.rating {
  text-align: left;
  margin: 15px 0 60px 0;

}

.rating .btn {
  margin-top: 30px;
}

input[type="radio"] {
  margin: 5px;
}

