/******************************************************************** 
 * Written by Steven C. Dang 
 * Copyright 2015 
 * stevencdang.com
 ********************************************************************/

@charset "UTF-8";

body {
	background: #fff;
}

body.is-loading *, body.is-loading *:before, body.is-loading *:after {
	-moz-animation: none !important;
	-webkit-animation: none !important;
	-o-animation: none !important;
	-ms-animation: none !important;
	animation: none !important;
	-moz-transition: none !important;
	-webkit-transition: none !important;
	-o-transition: none !important;
	-ms-transition: none !important;
	transition: none !important;
}

a {
	color: #49bf9d;
	text-decoration: underline;
}

a:hover {
	text-decoration: none;
}

.btn {
  margin: 5px;
  padding: 5px 20px;
  font-size: 1.2em;
  border-radius: 10px;
  height: 3em;
}

.btn-primary {
  background: #337ab7;
  border-color: #337ab7;
  color: #e7e7e7;
}

#navbar {
  background: #464646;
  line-height: 50px;
  text-align: center;
  width: 100%;
}

#navbar .logo {
  color: #ffb700;
  color: #eee;
  font-weight: bold;
}

#cover {
  margin-top: 75px;
  text-align: center;
}

#footer {
  background: #464646;
  text-align: center;
  padding: 5px;
}

#footer .copy{
  color: #eee;
  font-size: 0.8em;
}
